<div id="accordion" class="section-content rtl">
  <h3 class="section-title">طلبات الاصلاح</h3>
  <ul class='section-list'>
    <li> <a href="{% url 'Req_Aggrement' %}">طلبات بانتظار الموافقة</a> </li>
  </ul>
  <h3 class="section-title">أوامر الصرف</h3>
  <ul class='section-list'>
    <li> <a href="#">أمر صرف - اصلاح الآليات</a> </li>
  </ul>
  <h3 class="section-title">الموازنة</h3>
  <ul class='section-list'>
    <li> <a href="{% url 'Set_Main_Balance' %}">اعداد الموازنة الاساسية</a> </li>
    <li> <a href="{% url 'Set_SubBalance' %}">اعداد الموازنة فرعية</a> </li>
    <li> <a href="{% url 'Set_SubBalance_Item' %}">اعداد بنود المازنة فرعية</a> </li>
    <li> <a href="#">اضافة اعتماد الموازنة</a> </li>
    <li> <a href="{% url 'View_Balances' %}">استعراض الموازنة</a> </li>
  </ul>
</div>
