<div id="accordion" class="section-content rtl">
  <h3 class="section-title">طلبات الاصلاح</h3>
  <ul class='section-list'>
    <li> <a href="{% url 'Add_Rep_Req' %}">اضافة طلب</a> </li>
    <li> <a href="{% url 'Edit_Rep_Req' %}">تعديل طلب</a> </li>
    <li> <a href="{% url 'Add_Receipts' %}">اضافة فاتورة</a> </li>
    <li> <a href="#">تعديل فاتورة</a> </li>
    <li> <a href="{% url 'Add_Statement' %}">اضافة كشف</a> </li>
    <li> <a href="#">تعديل كشف</a> </li>
    <li> <a href="{% url 'Change_RepReq_Status' %}">تغيير حالة الطلب</a> </li>
  </ul>
  <h3 class="section-title">البيانات</h3>
  <ul class='section-list'>
    <li> <a href="{% url 'Enter_Data' %}">ادخال البيانات</a> </li>
    <li> <a href="{% url 'View_Data' %}">استعراض جداول البيانات</a> </li>
    <li> <a href="{% url 'View_Data_Filtering_Page' %}">استعراض مخصص للبيانات</a> </li>
    <li> <a href="#">بيانات الآليات</a> </li>
  </ul>
</div>
